<div class="container mt-5">
  <div class="mt-4 p-5 rounded">
    <h1 class="mb-3">
      Bienvenido {{ user["code"] }} tu rol es {{ user["rol"] }}
    </h1>
    <p>
      Prueba técnica desarrollada para ATID SCHOOL con Angular y Bootstrap para
      obtener el puesto de desarrollador
    </p>

    <div>
      <ul class="sistema">
        <li>Rutas</li>
        <li>Login de acceso</li>
        <li>Dashboard</li>
        <li>Sidebar</li>
      </ul>

      <p>En este espacio encontraras</p>
      <ul class="sistema">
        <li>Home de Bienvenida</li>
        <li>Breaking bad API</li>
        <li>Reserva</li>
      </ul>
    </div>
  </div>
</div>
