$fuentePrincipal: 'Montserrat', sans-serif;

// Colores
$color1:  #F26419;
$color2:  #0C1618;
$color3:  #11B5E4;
$color4:  #652068;
$color5:  #C5D86D;
$blanco:  #FFFFFF;
$negro:   #000000;
$colorface: #3B5998;
$colormail: #144463;
$colorrojo: crimson;




// Media Queries
$movil: 480px;
$tablet: 768px;
$tabletx: 1024px;
$laptop: 1280px;
$macbook: 1440px; 