.container {

  .formula {
    background-color: #E7E9EB;
    padding: 2rem;

    label,
    input {
      font-size: 2rem;
    }

    button {
      font-size: 1.5rem;
    }
  }

  .table {
    font-size: 2rem;
  }
}
