.carousel {
  background-color: black;
}

.picsum-img-wrapper {
  width: 100%;
  height: 25rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.carousel-control-next {
  display: none !important;
}
