<ngb-carousel
  #carousel
  [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators"
>
  <ng-template ngbSlide>
    <div class="carousel-caption">
      <h3>Prueba técnica <strong>ATID</strong> con Angular</h3>
    </div>
    <a
      href="https://www.google.fr/?q=Number+1"
      target="_blank"
      rel="nofollow noopener noreferrer"
    >
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="My image 1 description" />
      </div>
    </a>
  </ng-template>
</ngb-carousel>

<div class="container mt-5">
  <div class="mt-4 p-5 rounded">
    <h1>Francisco Gerardo Dimas González</h1>
    <p>
      Prueba técnica desarrollada para ATID SCHOOL con Angular y Bootstrap para
      obtener el puesto de desarrollador
    </p>

    <div>
      <ul class="sistema">
        <li>Rutas</li>
        <li>Login de acceso</li>
        <li>Dashboard</li>
        <li>Sidebar</li>
      </ul>

      <h3 class="rol">ROL-A</h3>
      <p>
        Al autenticarse con el Rol-A se tienen acceso a las siguientes vistas
      </p>
      <ul class="sistema">
        <li>Home de Bienvenida</li>
        <li>Breaking bad API</li>
        <li>Reserva</li>
      </ul>
    </div>

    <div>
      <h3 class="rol">ROL-B</h3>
      <p>
        Al autenticarse con el Rol-B se tienen acceso a las siguientes vistas
      </p>
      <ul class="sistema">
        <li>ShortterLink</li>
      </ul>
    </div>
  </div>
</div>
